html, body, h1, h2, h3, button, ul{
    margin: 0;
    padding: 0;
}

body {
    text-align: center; 
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.left {
    text-align: left;
    background: #2C2931;
    max-width: 200px;
    width: 100%;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: left;
    gap: 1rem;
}

li {
    list-style: none;
    color: white;
    font-size: 1rem;
    padding: 1rem 2.5rem;
    transition: all 0.3s;
}

li:hover {
    background-color: #2D7DFF;
    cursor: pointer;
    transform: translateY(-4px)
}

.backbtn {
    transform: scaleX(-1);
    padding: 1rem 2.5rem;
    margin-top: 0.5rem;
    transition: all 0.3s;
}
.backbtn:hover {
    cursor: pointer;
    transform: scaleX(-1) translateX(6px)
}
.menu-btn {
    width: 20px;
}

.arrow-img {
    width: 24px;
}

.content {
    padding: 3.625rem 6.25rem;
    text-align: left;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: left;
    width: 100%;
}

.content-wrapper {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.content h1 {
    color: #2D7DFF;
    font-size: 1.5rem;
    font-weight: bold;
}

.content h2 {
    color: white;
    font-size: 4rem;
}
.content h3 {
    color: #847D93;
    font-size: 3rem;
    font-weight: 400;
}

.btn-wrapper button {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 0.8rem;
    background-color: transparent;
    border: 1px solid #4D4D4D;
    transition: all 0.3s;
    border-radius: 4px;
}

.btn-wrapper button:hover {
    background-color: #2D7DFF;
    cursor: pointer;
    transform: translateY(-4px)
}